<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Employee Details</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="container mt-5">
         <div class="card mx-auto" style="width: 18rem;">
            <img src="{{ emp.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">{{ emp.Name }}</h5>
               <p class="card-text">{{ emp.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">{{ emp.Age }}</li>
               <li class="list-group-item">{{ emp.email }}</li>
               <li class="list-group-item">{{ emp.Department }}</li>
               <li class="list-group-item">{{ emp.Location }}</li>
            </ul>
            <div class="card-body">
               <a href="{% url 'home' %}" class="card-link">Back</a>
               <a href="{% url 'index' %}" class="card-link">HomePage</a>
            </div>
         </div>
      </div>
   </body>
</html>